<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="D:\Logs\CompressLogs\internal.txt">


  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File"
            name="allfile"
            fileName="D:\\Logs\\CompressLogs\\log-compress-${shortdate}.log"
            layout="${longdate}|RequestId=${aspnet-traceidentifier}|${threadid}|${logger}|${uppercase:${level}}|${message} ${exception}"
            archiveFileName="D:\\Logs\\CompressLogs\\log-compress-${shortdate}-{####}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="10240000"
            maxArchiveFiles="999999" />

    <target xsi:type="File"
               name="errorFile"
               fileName="D:\\Logs\\CompressLogs\\log-error-${shortdate}.log"
               concurrentWrites="false"
               layout="${longdate}|RequestId=${aspnet-traceidentifier}|${threadid}|${logger}|${uppercase:${level}}|${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=10:innerExceptionSeparator=&#xD;&#xA;&#x9;:innerFormat=shortType,message,method}}"
               archiveFileName="D:\\Logs\\CompressLogs\\log-error-${shortdate}-{####}.log"
               archiveNumbering="Rolling"
               archiveAboveSize="10240000"
               maxArchiveFiles="999999"
                />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
